* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}

section {
    display: flex;
    gap: 30px;
    width: 100%;
    margin: 20px;

}

section > div {
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 100%;
    font-size: 20px;
}

section > div:hover {
    opacity: 0.6;
    cursor: pointer;
}

#one {
    background-color: #ffcc00;
}

#two {
    background-color: #ff6699;
}
#three {
    background-color: #66ccff;
}
#four {
    background-color: #99cc00;
}